.left-sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 15px;
}

.left-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.left-sidebar li {
    margin-bottom: 20px;
}

.left-sidebar li a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.left-sidebar li a svg {
    margin-right: 5px;
}

.left-sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.left-sidebar a.active {
    color: #752738;
}