.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px !important;
}

.dashboard-content {
    display: flex;
    flex: 1;
}

.stats-container {
    display: flex;
    justify-content: space-around;
}

.stats-box {
    width: 350px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stats-box h2 {
    margin-top: 0;
}

.stats-box p {
    margin-bottom: 0;
    font-size: 24px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}

.main-section {
    border: 1px solid #752738;
    padding: 30px;
}

.main-table {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #752738;
    border-radius: 10px 10px 0 0;
}

th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    color: #fff;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 15px;
    vertical-align: middle;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f5f5f5;
}